<h1>Stage project: retrospective tool</h1>
<p>Om mijn opleiding Toegepaste Informatica aan de HOGENT te voltooien kreeg ik de
    kans stage te lopen bij het software bedrijf Adifo.</p>
<p>Adifo werkt via de scrum methodologie. Een essentieel deel van Scrum is de retrospective
    meeting. Tijdens zo een meeting wordt besproken wat tijdens de vorige periode (oftewel
    sprint) goed liep en wat verkeerd liep. Op deze aspecten wordt gereflecteerd en er wordt
    gekeken wat beter kan in de toekomst. Gezien Adifo meerdere teams heeft op geografisch verspreide locaties ontstond de nood aan een goede tool om deze meeting op een
    geordende en efficiënte manier te laten doorgaan.</p>
<p>Tijdens het vorige semester heeft Jasper, die toen ook stagiair was, een aanzet gegeven
    voor de tool. Concreet kan mijn stageopdracht als volgt beschreven worden: ‘Binnen de periode van de stage de mogelijkheden van de bestaande retrospectie-tool uitbreiden.‘</p>
<p>Mogelijkheden die al aanwezig waren bij aanvang van de stage:</p>
<ul>
    <li>Inlogsysteem</li>
    <li>Retrospectivelijst</li>
    <li>Nieuwe retrospective aanmaken</li>
    <li>Aanmaken van nieuwe ’cards’</li>
    <li>Draggable grid in retrospectives</li>
    <li>Voting systeem</li>
    <li>Online deployment</li>
</ul>
<p>Mogelijkheden die tijdens mijn stage zijn uitgewerkt:</p>
<ul>
    <li>Memberlist van een retrospective (uitgewerkt door Jasper)</li>
    <li>Blokkeren van posten/editen (‘lock-modus‘)</li>
    <li>Admin/Creator rechten & opties</li>
    <li>‘Cards‘ omzetten tot actiepunten</li>
    <li>Actiepunten omzetten naar een pdf</li>
    <li>Username aanpassen</li>
    <li>Cards on cards</li>
    <li>Poll opties</li>
    <li>Definiëren van teams</li>
    <li>Invite links</li>
</ul>
<p>Andere mogelijkheden die tijdens mijn stage zijn uitgewerkt maar niet op voorhand voorzien waren:</p>
<ul>
    <li>Solo modus</li>
    <li>Kolom sorteermogelijkheden</li>
    <li>Meeting aanpassen na creatie</li>
    <li>Gebruikers van een meeting managen</li>
</ul>
