<h3>Project ItLab</h3>
<p>Dit project heb ik gemaakt voor het vak Projecten-workshops 2 in het 
    tweede jaar van de opleiding Toegepaste Informatica aan de HOGENT.</p>
<p>Het project bestond uit twee delen, een gedeelte in .NET en gedeeelte in Java.</p>
<h4>.NET</h4>
<img src="assets/2020-05-15.png" width="1070">
<img src="assets/2020-05-15 (1).png" alt="" width="1070">
<img src="assets/2020-05-15 (2).png" alt="" width="1070">
<img src="assets/2020-05-15 (3).png" alt="" width="1070">
<h4>Java</h4>
<img src="assets/2020-05-15 (4).png" alt="" width="1070">
<img src="assets/2020-05-15 (5).png" alt="" width="1070">
<img src="assets/2020-05-15 (6).png" alt="" width="1070">
<img src="assets/2020-05-15 (7).png" alt="" width="1070">