<h3>Projecten-workshops 3: Hotel Kompas</h3>
<p>Dit project heb ik gemaakt voor het vak Projecten-workshops 3 in het 
    derde jaar van de opleiding Toegepaste Informatica aan de HOGENT.</p>
<p>De opdracht die aan onze groep werd toegewezen was Faith 2.0, 
    hierbij werd er van ons verwachtom de reedsbestaande app “Life city” te optimaliseren voor een iets oudere doelgroep.</p>
<p>“Life city” is een app die zes-tot twaalfjarigen zou moeten stimuleren om sneller een begeleider te
     contacteren indien ze nood hebben aan psychologische begeleiding. Ditdoen ze aan de hand van een
      platform waarop het kind zijn/haaremoties en gevoelens kan uiten in vorm van filmpjes, foto’s, tekeningen, etc.
       Deze app kan ook gebruikt worden tijdens de sessies zelf, waar het kind aan de hand van de avatar makkelijker
        kan uitdrukken hoe hij/zijzich voelt of dingen kan tonen aan de begeleider.</p>
<p>In de originele appwas de metafoor een stad waarin men de verschillende functionaliteiten kon openen door op de
     verschillende onderdelen van de stad te klikken. Duswas een soortgelijke metafoor te vinden die meer geapprecieerd
      ging worden door onze doelgroep, een logische eerste stap voor ons. Hierbij kwamen we dan tot het concept van een hotel,
       waarbij elke kamer een bepaalde functionaliteit voorstelt.</p>
<p>Voor de webapplicatie hadden we dan eerder op ogen dat dit enkel bedoeld was voor de begeleiders, 
    zodat ze hiermee onder andere hun agenda kunnen raadplegen en kunnen antwoorden op de berichten van de jongeren.</p>

<h3>De android app</h3>
<img src="assets/kompas_login.png">
<img src="assets/kompas_hoofdscherm.png">
<img src="assets/kompas_penthouse.png">
<img src="assets/kompas_infobalie.png">
<h3>De webapplicatie</h3>
<img src="assets/kompas_web_login.png">
<img src="assets/kompas_web_beheer_centra.png">
<img src="assets/kompas_web_hulpbronnen.png">
