<h3>Welkom op mijn portfolio</h3>
<p>Op deze site vind je een overzicht van mijn software projecten, 
    gemaakt in opdracht van de HOGENT als deel van mijn opleiding toegepaste informatica.</p>

<p>Projecten van de vakken Projecten-Workshops 1, 2 en 3:</p>
<ul>
    <li><a routerLink="/munchkin">Projecten-Workshops 1: Munchkin</a></li>
    <li><a routerLink="/itlab">Projecten-Workshops 2: ItLab</a></li>
    <li><a routerLink="/kompas">Projecten-Workshops 3: Hotel kompas</a></li>
</ul>

<p>Mijn stageproject bij Adifo.</p>
<ul>
    <li><a routerLink="/retrospective">Retrospective tool</a></li>
</ul>

<p>Eigen projecten:</p>
<ul>
    <li><a routerLink="/genesis">Project Genesis</a></li>
    <li><a routerLink="/sotf">Project SOTF</a></li>
</ul>
