<h3>Project Survival Of The Fitest</h3>
<p>Dit is een van mijn eigen projecten. Het is geschreven in Java. 
    Het project simuleerd een biotoop. De groene bolletjes moeten planten voorstellen, 
    de rode bolletjes moeten dieren voorstellen. De dieren heb ik een AI gegeven en een aantal 
    "genetische kenmerken" zoals snelheid, kracht,.. Afhankelijk van deze "genen" zijn ze 
    ook agresiever of pasiever tegenover elkaar.</p>
<p>Wanneer ik een diertje selecteer word hij blauw en worden sommige van zijn genetische 
    kenmerken rechtsboven getoond. Een van die kenmerken is inteligentie (Int). Wanneer een 
    diertje geselecteerd is krijgen we ook een geel bolletje te zien, dit is het huidige 
    doelwit van het diertje.</p>
<img src="../../assets/2020-05-15 (10).png" width="1070">
<img src="../../assets/2020-05-15 (11).png" width="1070">
<img src="../../assets/2020-05-15 (12).png" width="1070">